<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="robert.purdey.caddytracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.FrolfApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_whatsfrolf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_whatsfrolf_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
         <!-- Login -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Menu -->
        <activity android:name=".ui.activities.MainMenuActivity" /> <!-- Games Menu -->
        <activity
            android:name=".ui.activities.GamesMenuActivity"
            android:label="Games"
            android:parentActivityName=".ui.activities.MainMenuActivity" /> <!-- Watch Game Request -->
        <activity
            android:name=".ui.activities.WatchGameRequestActivity"
            android:label="Watch Game"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Create New Game -->
        <activity
            android:name=".ui.activities.NewGameActivity"
            android:label="Create Game"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Resume Game -->
        <activity
            android:name=".ui.activities.ResumeGameActivity"
            android:label="Resume Game"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Game Results -->
        <activity
            android:name=".ui.activities.GameResultsActivity"
            android:label="Game Results"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Manage Groups -->
        <activity
            android:name=".ui.activities.ManageFrolfGroupsActivity"
            android:label="Manage Frolf Groups"
            android:parentActivityName=".ui.activities.MainMenuActivity" /> <!-- Create/Edit Group -->
        <activity
            android:name=".ui.activities.FrolfGroupRecordActivity"
            android:label="Frolf Group Record"
            android:parentActivityName=".ui.activities.ManageFrolfGroupsActivity" />
        <!-- Manage Courses -->
        <activity
            android:name=".ui.activities.ManageCoursesActivity"
            android:label="Manage Courses"
            android:parentActivityName=".ui.activities.FrolfGroupRecordActivity" />
        <activity
            android:name=".ui.activities.CourseRecordActivity"
            android:label="Course Record"
            android:parentActivityName=".ui.activities.FrolfGroupRecordActivity"/>
        <!-- Manage Invites -->
        <activity
            android:name=".ui.activities.ManageInvitesActivity"
            android:label="Manage Invites"
            android:parentActivityName=".ui.activities.MainMenuActivity" /> <!-- Score Game -->
        <activity
            android:name=".ui.activities.ScoreGameActivity"
            android:label="Score Game"
            android:parentActivityName=".ui.activities.ResumeGameActivity" /> <!-- View Game Score and other results -->
        <activity
            android:name=".ui.activities.ScoreCardActivity"
            android:label="Scorecard"
            android:parentActivityName=".ui.activities.GameResultsActivity" /> <!-- Create Account -->
        <activity
            android:label="New Account"
            android:name=".ui.activities.CreateAccountActivity"
            android:parentActivityName=".ui.activities.LoginActivity"/> <!-- Watch Games activity -->
        <activity
            android:name=".ui.activities.WatchGameActivity"
            android:label="Watch Game"
            android:parentActivityName=".ui.activities.WatchGameRequestActivity" /> <!-- View/Update Account -->
        <activity
            android:name=".ui.activities.AccountActivity"
            android:label="Manage Account"
            android:parentActivityName=".ui.activities.MainMenuActivity" />
    </application>

</manifest>