<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="robert.purdey.caddytracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.FrolfApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".ui.activities.ManageCoursesActivity"></activity>
        <activity android:name=".ui.activities.CourseRecordActivity" /> <!-- Login -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Menu -->
        <activity android:name=".ui.activities.MainMenuActivity" /> <!-- Games Menu -->
        <activity
            android:name=".ui.activities.GamesMenuActivity"
            android:parentActivityName=".ui.activities.MainMenuActivity" /> <!-- Watch Game Request -->
        <activity
            android:name=".ui.activities.WatchGameRequestActivity"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Create New Game -->
        <activity
            android:name=".ui.activities.NewGameActivity"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Resume Game -->
        <activity
            android:name=".ui.activities.ResumeGameActivity"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Game Results -->
        <activity
            android:name=".ui.activities.GameResultsActivity"
            android:parentActivityName=".ui.activities.GamesMenuActivity" /> <!-- Manage Groups -->
        <activity
            android:name=".ui.activities.ManageFrolfGroupsActivity"
            android:parentActivityName=".ui.activities.MainMenuActivity" /> <!-- Create/Edit Group -->
        <activity
            android:name=".ui.activities.FrolfGroupRecordActivity"
            android:parentActivityName=".ui.activities.ManageFrolfGroupsActivity" /> <!-- Manage Invites -->
        <activity
            android:name=".ui.activities.ManageInvitesActivity"
            android:parentActivityName=".ui.activities.MainMenuActivity" /> <!-- Score Game -->
        <activity
            android:name=".ui.activities.ScoreGameActivity"
            android:parentActivityName=".ui.activities.ResumeGameActivity" /> <!-- View Game Score and other results -->
        <activity
            android:name=".ui.activities.ScoreCardActivity"
            android:parentActivityName=".ui.activities.GameResultsActivity" /> <!-- Create Account -->
        <activity android:name=".ui.activities.CreateAccountActivity" /> <!-- Watch Games activity -->
        <activity
            android:name=".ui.activities.WatchGameActivity"
            android:parentActivityName=".ui.activities.WatchGameRequestActivity" /> <!-- View/Update Account -->
        <activity
            android:name=".ui.activities.AccountActivity"
            android:parentActivityName=".ui.activities.MainMenuActivity" />
    </application>

</manifest>